*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.fls
*.vrb
*.maf
*.mtc
*.mtc0
*.swp
// Compiled document
master.pdf
ads_samenvatting_1-7.pdf
ads_samenvatting_v1.0.pdf
